{% load static %}
<head>
    <title>#한투스타그램-상품추천</title>
</head>

<body>
    {%include "navbarTop.html" %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <form action="/search//recommandS" method ='GET' style="width: 90%">
          <input class="form-control" type="search" name="sPdno" placeholder="Search" aria-label="Search" >
        </form>
          <span class="material-icons-outlined">search</span>
        </div>
      </div>
    </nav>
    <div class="list-group w-auto">
        {% for symbol in symbolLst %}
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="{% static symbol.img %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{symbol.name}}</h6>
                {% if request.user.is_authenticated %}
                <p class="mb-0 opacity-75" onclick="location.href='/pdno/{{symbol.symbol}}/follow'" >Follow</p>
                {%else%}
                <p class="mb-0 opacity-75">Follow</p>
                {% endif %}
              </div>
              <small class="opacity-50 text-nowrap">now</small>
            </div>
          </a>
        {% endfor %}
    </div>
    {%include "navbarBot.html" %}
  </body>


  